/*pup*/

@media only screen and (max-width: 50em) {
	dl.tabs.resize-on-small dd.active a, dl.tabs.resize-on-small li.active a,
	dl.tabs.resize-on-small dd a, dl.tabs.resize-on-small li a{
		padding: 1px 10px;
		font-size: 15px;
	}
}





/*addfor the share icon in the store*/
span.at4-icon{
	margin: 4px 7px 0 0;
}





address{
	line-height: 1.125rem;
	line-height: 18px;
}


div.orbit-container, div.example-orbit.coins ul.example-orbit{
	height:auto !important;
}
a.button.block{
	display: block;
}

.panel.bordertop6{
	border:solid #da291c;
	border-width: 6px 0 0 0;
}
.panel.padding10{
	padding: 10px !important;
}

#contentWrap .borderleft1{
	border-left: 1px solid #ccc;
}
#contentWrap .borderright1{
	border-right: 1px solid #ccc;
}


ul.pricing-table{
	border-top: 6px solid #da291c;
}
ul.pricing-table li.title{
	background-color: #f2f2f2;
	font-family: 'Roboto', 'sans-serif';
	font-weight:400;
	color:#333333;
	border:none;
}
ul.pricing-table li.price{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
}


/* List */
ul.large-blue-arrows li{
	list-style: none;
    background: url(xpresspost-blue-circ-arrow.gif) 0px 10px no-repeat;
    padding-left: 55px;
    margin-bottom: 10px; 
}
ul.large-blue-arrows li a:hover, ul.large-blue-arrows li a:blur {color:#666666;}



/*---------------------
Bottom grey banner
------------------------*/
div.bottomgreyrow{
	width:100%;
	background:#ededed;
	padding: 50px 0;
	margin:2.35rem 0 -2.35rem 0;
}

div.panel.white{
	background:#fff;
	border:none;
}

div.panel.tracklearnmore{min-height:250px;}

/*@media only screen and (max-width: 64em) {
div.panel.tracklearnmore{height:auto;}
}*/
@media only screen and (min-width: 40em) {
div.panel.tracklearnmore{margin:0;}
}

/*----------------------------------
Track Lookup Page
----------------------------------*/

	/*Updated to be moved to extented*/
	div#track_lookup div input[type="text"], div#track_lookup div input[type="password"], div#track_lookup div input[type="date"],
	div#track_lookup div input[type="datetime"], div#track_lookup div input[type="datetime-local"], div#track_lookup div input[type="month"],
	div#track_lookup div input[type="week"], div#track_lookup div input[type="email"], div#track_lookup div input[type="number"],
	div#track_lookup div input[type="search"], div#track_lookup div input[type="tel"], div#track_lookup div input[type="time"],
	div#track_lookup div input[type="url"], div#track_lookup div textarea{font-size:15px;font-size:0.938rem;font-weight:300;}
	
	div#track_lookup div textarea{line-height:1.3rem;}
	div#track_lookup small.error{margin:5px 0 25px 0;}
	div#track_lookup textarea.error{border-color:#DB3A31;display: block;}
	
	html span.track_type_content{margin:0;}
	html a.current_type{font-size:15px;font-size:0.938rem;}
	html p.langswitchp{font-size:auto;margin: 28px 0 0 0;}
	

	html a.learn_more{
		padding: 0 20px 0 0;
		background: url('images/navarrow.jpg') no-repeat right 4px;
	}




	/*Leave*/
	div#track_lookup h1{margin-bottom:10px;margin-bottom:.625rem;}
	div#track_lookup h6{margin:20px 0 17px 0;}
	div#track_lookup div.track_type{margin:20px 0 15px 0;margin:1.250rem 0 .938rem 0;}
	div#track_lookup p a{text-decoration: none;}
	div#track_lookup div textarea{height:150px;height:9.375rem;padding:17px;padding:1.063rem;}


	div.emailresult{width:110%;left:20%;}	
	div#track_results div.emailresult p{margin:20px 0 60px 0;}

@media only screen and (min-width: 64.063em) { 
	div.reveal-modal.requestdeliveryupdates-modal{
		max-width:600px;
		/*margin-left: -300px;*/
	}
}

@media only screen and (max-width: 40em) {
	div.emailresult{width:100%;left:0%;}	
	html p.langswitchp{ margin: -15px 0 15px 0;}
}

/*----------------------------------
Track Results Page
----------------------------------*/

	div#track_results h1{margin-bottom: 20px;margin-bottom:1.250rem;}
	div#track_results h1 span { text-transform:lowercase; }
	div#track_results h3{margin-top:0;margin-bottom:25px;margin-bottom:1.563rem;}	
	div#contentWrap div#track_results div.f-dropdown h3{margin-bottom:10px;margin-bottom:0.625rem;}
	div#contentWrap div.f-dropdown h5{font-size: 21px;font-size:1.313rem;}
	div#track_results a.trackanother.button{position: absolute !important;right:0;bottom:0;margin:0 0.9375rem 0 0;}
	div#contentWrap div#track_results div.pageactions{
		/*margin:44px 0 20px 25px;display:block;
		float:left;*/
		margin:30px 0px;
		display:block;
	}
/*	div#track_results a.linkToThisPage{margin:44px 0 20px 25px;background:url('images/linktobg.png') no-repeat 0 0;background-size:16px 16px;font-size:14px;padding:0 0 2px 18px;line-height:1em;text-decoration:none;float:left;display: block;width:120px;}
	div#track_results a.printThisPage{margin:44px 0 20px 10px;background:url('images/print_icon.png') no-repeat 0 0;background-size:16px 16px;font-size:14px;padding:0 0 2px 20px;line-height:1em;text-decoration:none;float:left;display: block;width:100px;}
	div#track_results a.emailThisPage{margin:44px 0 20px 10px;background:url('images/email_icon.png') no-repeat left -3px;background-size:18px 18px;font-size:14px;padding:0 0 2px 20px;line-height:1em;text-decoration:none;float:left;display: block;width:100px;}
*/
	
	div#track_results a.linkToThisPage{margin:0 20px 0 0;background:url('images/linktobg.png') no-repeat 0 0;background-size:16px 16px;font-size:14px;padding:0 0 2px 18px;line-height:1em;text-decoration:none;display: inline-block;float:left;}
	div#track_results a.printThisPage{margin:0 20px 0 0;background:url('images/print_icon.png') no-repeat 0 0;background-size:16px 16px;font-size:14px;padding:0 0 2px 20px;line-height:1em;text-decoration:none;display: inline-block;float:left;}
	div#track_results a.emailThisPage{margin:0 20px 0 0;background:url('images/email_icon.png') no-repeat left -3px;background-size:18px 18px;font-size:14px;padding:0 0 2px 20px;line-height:1em;text-decoration:none;display: inline-block;float:left;}
    
    .lt-ie9 div#track_results a.linkToThisPage {
        background: url(images/linktobg_x16.png) no-repeat 0px 0px!important;
    }
    .lt-ie9 div#track_results a.printThisPage {
        background: url(images/print_icon_x16.png) no-repeat 0px 0px!important;
    }
    .lt-ie9 div#track_results a.emailThisPage {
        background: url(images/email_icon_x16.png) no-repeat 0px 0px!important;
    }
	
	/*div#track_results p{margin-top: 0.4rem;margin-bottom:0;margin-right:230px;}*/
	div#track_results div.f-dropdown p{margin-right:0;}
	
	div#deliveryUpdatesByEmail p{
		margin:0 0 10px 0;
	}
	#linkTxtArea{
		font-size: 12px;
		color: #087cc0;
		height:120px;
		display:block;
	}
	
	
	.track-results-widget #rss-feed-widget{margin-top:160px;}
	@media only screen and (max-width: 40em) { /* Small */
		.track-results-widget #rss-feed-widget{margin-top: 30px;}
	}
	
	.track-results-widget h4 { margin-bottom:30px; }
	.track-results-widget li { margin-bottom:15px; }
	.track-results-widget li:last-child { margin-bottom:0px; }
	.track-results-widget hr.hr { margin:30px 0; }
	
	@media only screen and (max-width: 64em) {
		div#contentWrap div#track_results div.pageactions{
			margin:10px 0 /*20*/50px 0;
			display: block;
			clear:both;
			float:none;
		}
	}
	
	@media only screen and (max-width: 40em) {
			div#track_results p{
				margin-right:0;
			}
	}
	
	@media only screen and (max-width: 40em) {
		div#track_results a.trackanother.button{ position: relative !important;margin:0 0 0.9375rem 0;}
	}
	@media only screen and (min-width: 40.063em) and (max-width: 64em) {
		a.trackanother{ position: relative !important;}
	}
	
	
	p.get_delivery_certificate_btn{/*font-size: 14px;margin: 1px 0 0 14px;float:right;*/}
	p.get_delivery_certificate_btn a{font-size: 14px;text-decoration: none;margin:0;}
	/*
	@media only screen and (max-width: 40em) {
				p.get_delivery_certificate_btn{float:left;}
	}
	*/
	
	fieldset.trackhistoryitem{padding:0.8rem 0 0 0 /*0.8rem 0 0.8rem*/;margin:0 0 .75rem 0; border: none; border-bottom: 1px solid #ddd;}
	a.about_delivery_certificate{display:block;width:21px;height:21px;text-decoration:none;-webkit-border-radius:999px;-moz-border-radius:999px;border-radius:999px;background:#757575;text-align:center;color:#fff;line-height:21px;}

	/*-----------------------------------
	Track Results Table
	-----------------------------------*/
	div.trackhistorytable table{font-size:14px;font-size:0.875rem;}
	div.trackhistorytable table tr th{font-size:14px;font-weight:700;color:#333;line-height:22px;line-height: 18px;background:#fff;}
	div#contentWrap div.trackhistorytable table tr th a{color: #323232; white-space:nowrap;}
	div.trackhistorytable table tbody tr td{padding:10px 16px;font-size:14px;font-size:0.875rem;}
	div.trackhistorytable table tr.even, div.trackhistorytable table tr.alt, div.trackhistorytable table tr:nth-of-type(even){
		background:#f2f2f2;
	}

		
	#contentWrap div.trackhistorytable a.tooltip2{
/*		width:14px;
		height:14px;
*/		display: inline-block;
/*		-webkit-border-radius: 999px;
		-moz-border-radius: 999px;
		border-radius: 999px;
		font-size: 12px;*/
/*		color: #fff;*/
/*		background:#137cbe;*/
/*		text-decoration: none;*/
/*		padding:0;*/
/*		line-height: 12px;*/
/*		text-align: center;*/
/*		font-weight:600;*/
		border:none;
	}
	#contentWrap div.trackhistorytable a.tooltip2:hover{
/*		color: #fff;
		text-decoration: none;
*/		border:none;
	}
	
	#contentWrap div.trackhistorytable a.tooltip2 span.classic{
		text-align: left;
		font-size: 14px;
		background:#fff;
		border: 1px solid #ccc;
		font-weight: 300;
		line-height: 16px;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
		box-shadow:none;
		
	}

	#contentWrap div.trackhistorytable a.tooltip2:hover img {
		border:none;	
		margin:0;
	}


	/*-----------------------------------
	Progress Bar
	-----------------------------------*/
	div.progress_bar_root{position:relative;margin:25px 0;padding:0;/*display:none;*/}
	div.progress_bar_root div.progress_bar_wrapper{display:block;}
	div.progress_bar_start_area,div.progress_bar_middle_area,div.progress_bar_end_area{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;width:23%;background:#CBCBCB;/*height:28px;*/min-height:28px;float:left;text-align:center;font-size:14px;font-weight:700;/*padding:5px;*/position:relative;overflow:hidden;line-height:1.3em;}
	div.progress_bar_root div.coloredbg{position:absolute;top:0px;left:0;right:0;bottom:0;opacity:0;border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;-webkit-transition:opacity .4s;-moz-transition:opacity .4s;-o-transition:opacity .4s;transition:opacity .4s;z-index:2;}
	div.progress_bar_root div.txtholder{-webkit-font-smoothing:antialiased;position:relative/*absolute*/;top:0px;left:0;right:0;bottom:0;text-align:center;color:#343434;z-index:3;padding:5px;white-space:normal/*nowrap*/;-webkit-transition:color .5s;-moz-transition:color .5s;-o-transition:color .5s;transition:color .5s;}
	div.progress_bar_start_area.green div.coloredbg,div.progress_bar_middle_area.green div.coloredbg,div.progress_bar_end_area.green div.coloredbg,
	div.progress_bar_line_one div.bar,div.progress_bar_line_two div.bar{background-color:#729f04;background-image:url('images/progress_bar_bg.jpg');background-repeat:repeat;background-position:0px 0px;color:#fff;opacity:1;}
	div.progress_bar_start_area.green div.txtholder,div.progress_bar_middle_area.green div.txtholder,div.progress_bar_end_area.green div.txtholder{color:#fff;}
	div.progress_bar_start_area.yellow div.coloredbg,div.progress_bar_middle_area.yellow div.coloredbg,div.progress_bar_end_area.yellow div.coloredbg{background:#ffc71a;color:#343434;opacity:1;}
	div.progress_bar_line_one,div.progress_bar_line_two{width:13.5%;background:#e7e7e7;height:4px;margin:12px 1%;float:left;position:relative;}
	div.progress_bar_line_one div.bar,div.progress_bar_line_two div.bar{position:absolute;top:0px;left:0px;height:4px;width:0;-webkit-transition:width .3s;-moz-transition:width .3s;-o-transition:width .3s;transition:width .3s;}
	div.ar div.progress_bar_line_one div.bar, div.ar div.progress_bar_line_two div.bar{right:0px;left:auto;}
	div.progress_bar_root a.progress_bar_arrow{background:url('/cpo/mc/assets/images/app/track/progress-bar-pointer.svg') no-repeat center 0;margin: 0 0 0 -10px;width:18px;height:22px;position:absolute;top:20px;left:0;-webkit-transition:all .5s .1s ease-in-out;-moz-transition:all .5s .1s ease-in-out;-o-transition:all .5s .1s ease-in-out;transition:all .5s .1s ease-in-out;}
	div.progress_bar_root a.progress_bar_arrow.medium{-webkit-transition:all .7s .1s ease-in-out;-moz-transition:all .7s .1s ease-in-out;-o-transition:all .7s .1s ease-in-out;transition:all .7s .1s ease-in-out;}
	div.progress_bar_root a.progress_bar_arrow.long{-webkit-transition:all .9s .1s ease-in-out;-moz-transition:all .9s .1s ease-in-out;-o-transition:all .9s .1s ease-in-out;transition:all .9s .1s ease-in-out;}
	div.progress_bar_root a.progress_bar_arrow.longer{-webkit-transition:all 1.3s .1s ease-in-out;-moz-transition:all 1.3s .1s ease-in-out;-o-transition:all 1.3s .1s ease-in-out;transition:all 1.3s .1s ease-in-out;}
	
	div.progress_bar_root.ar a.progress_bar_arrow{right:0;left:auto;}

	
/*	div.progress_bar_root a.progress_bar_arrow div.details_txt{position:absolute;top:-180px;left:0;width:220px;height:180px;border:1px solid #ccc;padding:10px;font-size:12px;background:white;overflow:hidden;z-index:100;display:none;}*/
	
/*	div#progress_bar_box{margin:-12px 0 0 -9px;}*/
/*	#contentWrap div.f-dropdown a.clearing-close{display:block;right:15px;top:4px;font-weight:400;color:#767676;z-index: 105; cursor: pointer;position: absolute;}
	#contentWrap div.f-dropdown a.clearing-close:hover{text-decoration: none;color:#767676; }*/
	#track_results div.f-dropdown a.clearing-close{display:block;}
	.ar .clearing-close { left: 20px !important; right:inherit; }
	#contentWrap.ar .f-dropdown { text-align:right; padding-left:30px;}
	dl.accordion{margin: 20px 0 0 0;}
 
	div.progress_bar_root a.progress_bar_arrow.posFive div.details_txt{right:0;}
	div.progress_bar_root a.progress_bar_arrow div.details_txt p{font-size:12px;line-height:1.4em;}
	div.progress_bar_root a.progress_bar_arrow div.details_txt h6{font-size:12px;line-height:1.3em;font-weight:700;}
	div.date_under_bar{margin:10px 0 0 0;}
	div.date_under_bar span{display:block;}
	div.date_received_wrapper,div.date_current_wrapper,div.date_expected_wrapper{width:23%;display:block;white-space:nowrap;float:left;text-align:center;font-size:12px;color:#757575;font-weight:400;line-height:1.3em;}
	div.date_received_wrapper{}
	div.date_current_wrapper{margin:0 0 0 15%;}
	div.date_expected_wrapper{margin:0 0 0 15%;}
	
	div.ar div.date_received_wrapper, div.ar div.date_current_wrapper, div.ar div.date_expected_wrapper{ float:auto;right:0;}
	div.ar div.date_received_wrapper{margin:0 0 0 15%;}
	div.ar div.date_current_wrapper{margin:0 0 0 15%;}
	div.ar div.date_expected_wrapper{margin:0;}
	
	
	div.city_over_bar{margin:0 0 /*15*/ 27px 0;}
	div.city_over_bar span{display:block;}
	div.city_received_wrapper,div.city_expected_wrapper{width:23%;text-align:center;font-size:14px;color:#757575;font-weight:600;line-height:1.3em;margin:0;height:16px;white-space: nowrap;}
	div.city_received_wrapper{float:left;}
	div.city_expected_wrapper{float:right; width:28%;}
	
	div.ar div.city_received_wrapper{float:right;}
	div.ar div.city_expected_wrapper{float:left;}
	


	/*-----------------------------------
	Progress Bar Moblie
	-----------------------------------*/
	div.progress_bar_mobile{padding:14px 0 0 0;margin:25px 0;display:none;position:relative;}
	div.progress_bar_mobile div.progress{padding:0;margin:0;border:none;background:#e7e7e7;position: relative;}
	div.progress_bar_mobile div.progress span.meter{left:0;text-align:center;line-height:1.7em;background:#C8C8C8;font-weight:700;font-size:14px;width:0;-webkit-transition:width 1s ease-in-out;-moz-transition:width 1s ease-in-out;-o-transition:width 1s ease-in-out;transition:width 1s ease-in-out;position: absolute;}
	div.progress_bar_mobile.ar div.progress span.meter{right:0;left:auto;}
	div.progress_bar_mobile a.progress_bar_arrow{background:url('images/progress_bar_arrow.png') no-repeat center 0;width:17px;height:10px;margin:0 0 0 -8px;position:absolute;top:0;left:0;-webkit-transition:left 1s ease-in-out;-moz-transition:left 1s ease-in-out;-o-transition:left 1s ease-in-out;transition:left 1s ease-in-out;}
	div.mobile_txt_holder{text-align:center;font-size:14px;margin:10px 0;color:#757575;}
	div.progress_bar_mobile div.progress span.meter div.status_txt_holder{-webkit-font-smoothing:antialiased;position:absolute;top:0;left:0;right:0;bottom:0;z-index:3;-webkit-transition:opacity .5s .5s;-moz-transition:opacity .5s .5s;-o-transition:opacity .5s .5s;transition:opacity .5s .5s;opacity:0;white-space:nowrap;}
	div.progress_bar_mobile div.coloredbg{position:absolute;top:0px;left:0px;right:0px;bottom:0px;opacity:0;}
	div.progress_bar_mobile.green div.progress span.meter div.coloredbg{background-color:#729f04;background-image:url('images/progress_bar_bg.jpg');background-repeat:repeat;background-position:0px 0px;-ms-animation:animatedBackground 1s linear infinite;-moz-animation:animatedBackground 1s linear infinite;-webkit-animation:animatedBackground 1s linear infinite;animation:animatedBackground 1s linear infinite;opacity:1;-webkit-border-radius:1000px;border-radius:1000px;z-index:2;}
	div.progress_bar_mobile.yellow div.progress span.meter div.coloredbg{background:#ffc71a;color:#343434;opacity:1;-webkit-border-radius:1000px;border-radius:1000px;}
	div.progress_bar_mobile.green div.progress span.meter div.status_txt_holder{color:#fff;text-shadow:1px 1px #508102;}
	div.progress_bar_mobile.yellow div.progress span.meter div.status_txt_holder{}
	div.progress_bar_mobile.show_txt div.progress span.meter div.status_txt_holder{opacity:1;}

	@media only screen and (max-width: 40em){
		div.progress_bar_mobile{display: block;}
	}
	@media only screen and (min-width: 40.063em){
		div.progress_bar_root{display: block;}
	}





	/*----------------------
	track_type
	----------------------*/
	div.track_type{margin: 20px 0 20px 0;position: relative;z-index:10;}
	div#contentWrap div.track_type a.current_type{border:1px solid #c1c1c1;padding:10px 35px 10px 10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;position: relative;font-size: 16px;display: block;text-decoration: none;color: #333;line-height: 1.4em;}
	div#contentWrap div.track_type a.current_type:visited{color: #333;}
	div#contentWrap div.track_type a.current_type.open{-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;border-top-left-radius:4px;border-top-right-radius:4px;
		-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomleft:0;-moz-border-radius-bottomright:0;border-bottom-left-radius:0;border-bottom-right-radius:0;
	}
	span.track_type_content{margin: 0 60px 0 0;display: block;}


	span.track_type_arrow_box{width:40px;display: block;/*border-left:1px solid #c1c1c1;*/position:absolute;top:0;bottom:0;right:0;padding:0 0 0 0;}
	span.track_type_arrow_box div{position: absolute;top:50%;left:50%;margin:-2px 0 0 -4px;}
	span.track_type_arrow_box div.arrow-up{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #666666;}
	span.track_type_arrow_box div.arrow-down{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #666666;}

	div.track_type_menu{position:absolute;top:43px;left:0;display:none;background:#fff;width:100%;border:solid #c1c1c1;border-width:0 1px 1px 1px;overflow:hidden;-moz-box-shadow:2px 2px 0px 0px #f6f6f6;-webkit-box-shadow:2px 2px 0px 0px #f6f6f6;box-shadow:2px 2px 0px 0px #f6f6f6;}
	div.track_type_menu ul{margin:0;padding:0;}
	div.track_type_menu ul li{list-style:none;}
	div#contentWrap div.track_type div.track_type_menu ul li a,
	div#contentWrap div.track_type div.track_type_menu ul li a:visited{padding: 11px;display: block;text-decoration: none;color:#737373;}
	div#contentWrap div.track_type div.track_type_menu ul li a:hover{background:#daebf5;}
	div.track_type_menu.show{display: block;}






	/*----------------------
	Faux select box
	----------------------*/
	div.cpc_select_box_holder{margin: 20px 0 20px 0;position: relative;z-index:10;}
	a.select_box_current{border:1px solid #c1c1c1;padding:10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;position: relative;font-size: 16px;display: block;text-decoration: none;color: #000;line-height: 1.4em;}
	a.select_box_current.open{-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;border-top-left-radius:4px;border-top-right-radius:4px;
	-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomleft:0;-moz-border-radius-bottomright:0;border-bottom-left-radius:0;border-bottom-right-radius:0;}
	span.select_box_current_content{margin: 0 60px 0 0;display: block;}

	span.select_box_current_arrow_box{width:40px;display: block;border-left:1px solid #c1c1c1;position:absolute;top:0;bottom:0;right:0;padding:0 0 0 0;}
	span.select_box_current_arrow_box div{position: absolute;top:50%;left:50%;margin:-2px 0 0 -4px;}
	span.select_box_current_arrow_box div.arrow-up{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #666666;}
	span.select_box_current_arrow_box div.arrow-down{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #666666;}

	div.select_box_menu{position:absolute;top:44px;left:0;display:none;background:#fff;width:100%;border:solid #c1c1c1;border-width:0 1px 1px 1px;overflow:hidden;-moz-box-shadow:2px 2px 0px 0px #f6f6f6;-webkit-box-shadow:2px 2px 0px 0px #f6f6f6;box-shadow:2px 2px 0px 0px #f6f6f6;}
	div.select_box_menu ul{margin:0;padding:0;}
	div.select_box_menu ul li{list-style:none;}
	div.select_box_menu ul li a{padding: 11px;display: block;text-decoration: none;color:#737373;}
	div.select_box_menu ul li a:hover{background:#daebf5;color:#097cbf;}
	div.select_box_menu.show{display: block;}

	/*lang swtich for track*/
	p.langswitchp{
		font-size: 12px;
		color:#2F80BC;
		display: block;
		margin: 25px 0 0 0;
	}



	/*----------------------
	Find a Postal Code Section
	----------------------*/
	#find_postal_code h1{margin-bottom:15px !important;}
	#find_postal_code p.poweredby{font-size: 12px;font-size: 0.750rem;}
	#find_postal_code p.poweredby a{margin: 0 0 0 5px;}
	#find_postal_code p.poweredby a img{margin: -2px 0 0 0;}
	
	#find_postal_code input{font-size: 15px;font-size: 0.938rem;}
	#find_postal_code #allACControls input{margin-bottom:25px;}
	#find_postal_code p.reporterror{font-size: 11px;font-size: 0.688rem;line-height: 13px;line-height: 0.813rem;}




	/*-----------------------
	fieldset
	------------------------*/
	fieldset.removeborderpadding{
		padding:0;
		margin:0;
		border:none;
	}

	/*-------------------
	reveal-modal
	---------------------*/
	div.reveal-modal-bg{
		z-index:1001;
	}

	div.reveal-modal{
		z-index:1002;
		border-top: 6px solid #da291c;
		padding: 36px 15px 30px 15px;/*15 left and right added with column rows*/
	}
	div.reveal-modal small.error, div.reveal-modal span.error{
		margin: -15px 0 15px 0 !important;
		display: block;
	}
	
	div#track_results .error small.error{
		background-color: transparent;
		color: #DB3A31;
		font-style: normal;
		font-weight: 500;
		text-transform:none;
	}

	div.reveal-modal  a.close-reveal-modal{
		font-size: 24px;
		line-height: 1em;
		text-decoration: none;
		position: absolute;
		top:9px;
		right:14px;
	}


	div.labelandcheckmarker{
		margin: 2px 2px 1px 2px;
		padding: 2px 2px 2px 4px;
		min-width:125px;
	}
	
/*	div.labelandcheckmarker.highlight{
		background:#E1ECF4;
	}*/
	
	
	div.labelandcheckmarker label{
		float:left;
	}
	/*@media only screen and (max-width: 60em){
		div.labelandcheckmarker{
			padding: 15px 0;
		}
		div.labelandcheckmarker label{
			font-size: 12px;
			display: block;
			float:none;
		}
	}*/
	div.labelandcheckmarker input{
		float:left;
		margin: 5px 7px 0 0;
	}
	div.reveal-modal p{
		margin: 0 0 9px 0;
	}
	
	div small.error{
		margin-top: -13px;
		/*white-space: nowrap;*/
	}
	
	#quickOrderForm td {
		vertical-align: top;
		padding-top: 0;
	}
	
	.addmargin small.error { margin-top: 0; }
	
	@media only screen and (max-width: 40em){
	   div small.error{white-space:normal;}
	}
	
	
	div.reveal-modal table{
		border-top:none;
		margin-bottom:0;
	}



	/*-----------------------
	fieldset
	------------------------*/
	
	
	
	
	
	/*------------------------
	Address Lookup
	-------------------------*/
	table.searchInfo{
		font-size: 14px;
		margin: 5px 0 10px 0;
	}
	table.searchInfo thead{
		border-bottom: 5px solid #e5e5e3;
	}
	table.searchInfo thead tr th{
		padding:7px;
		margin:0;
/*		border: 1px solid #999;*/
		text-align: center;
		font-size: 14px;
	}
	table.searchInfo tbody tr td{
		padding: 10px 0;
		vertical-align: top;
		font-size: 14px;
	}
	table.searchInfo table{
		border:none;
	}
	table.searchInfo tfoot{	
		border-top: 1px solid #ccc;
	}
	table.searchInfo tfoot a{
		font-weight:400;
		font-size: 14px;
	}
	table.searchInfo tfoot tr td{
		padding:10px 0 0 0;
		margin:0;
	}
	
	
	
	
	
	
	
	
	
	
	
	
/*---------------------------------
		prse
----------------------------------*/
	table.noPadding{margin:0;padding:0;}
	table.noPadding td{margin:0;padding:0;}
	table.noPadding input[type="radio"]{margin:0;padding:0;}
	table.noPadding label{margin:0;padding:0;display:inline;}
	table.radioGroup input{float:left;margin:15px 10px 10px 0;}
	table.radioGroup label{display:inline;margin:0;}
	.accordion dd table.prse{border-top:6px solid #da291c;}
	table.prse.searchInfo thead tr th{text-align:left;padding:20px 0;}
	#contentWrap table.prse.searchInfo{margin-bottom:12px;}
	#contentWrap table.prse.searchInfo thead tr th a{color:#333333;}
	table.prse.searchInfo thead tr th img{margin:0 0 0 7px;width:13px;height:10px;}
	@media only screen and (max-width: 40em) {
		table.prse.searchInfo thead tr th img{display:none;}
	}
	.accordion dd table.prse.searchInfo tbody tr td{padding:12px 0 0 0;margin:0;}
	#contentWrap .accordion dd table.prse.searchInfo a.idlink{color:#222;}
	#contentWrap .accordion dd table.prse.searchInfo a.idlink:hover{color:#087cc0;}
	span.prse_deactivated_state{display:block;color:red;font-weight:500;text-align:center;}
	span.prse_active_state{display:block;color:#70a000;font-weight:500;text-align:center;}

	#contentWrap a.apphelplink{font-size: 14px;color: #333;height:16px;display:inline-block;}
	#contentWrap a.apphelplink:hover{color:#087cc0;}










/*-------------------------------------*/
/* jcarousel*/
/*	repeat code from responsive.css*/
/*-------------------------------------*/	
.jcarousel{position:relative;overflow:hidden;}
.jcarousel ul{width:20000em;position:relative;list-style:none;margin:0;padding:0;}
.jcarousel li{float:left;}

/** Carousel Controls **/
.jcarousel-control-prev, .jcarousel-control-next{position:absolute;top:50%;margin-top:-10px;width:32px;height:32px;text-align:center;}
.jcarousel-control-prev{background-image:red url("en/home/Arrow3_Left_White_128x128.png");background-position:0 0;background-repeat:no-repeat;background-size:32px 32px;left:0;}
.jcarousel-control-next{background-image:red url("en/home/Arrow3_Right_White_128x128.png");background-position:0 0;background-repeat:no-repeat;background-size:32px 32px;right:0;}
.jcarousel-control-next:hover{background-image:red url("en/home/Arrow3_Right_Normal_128x128.png");background-position:0 0;background-repeat:no-repeat;background-size:32px 32px;background-color:transparent;right:0;}
.jcarousel-control-prev:hover{background-image:red url("en/home/Arrow3_Left_Normal_128x128.png");background-position:0 0;background-repeat:no-repeat;background-size:32px 32px;background-color:transparent;left:0;}

@media (max-width: 480px) {
.jcarousel-control-prev, .jcarousel-control-next{margin-top:-10px;width:20px;height:20px;border-radius:20px;font:16px/18px Arial,sans-serif;}
}

.jcarousel-control-prev:hover span,.jcarousel-control-next:hover span{display:block;}
.jcarousel-control-prev.inactive,.jcarousel-control-next.inactive{opacity:.25;cursor:default;}

/** Carousel Pagination **/

.jcarousel-pagination{position:absolute;bottom:10px;left:50%;margin:0 0 12px -22px;}
.jcarousel-pagination a{text-decoration:none;display:inline-block;font-size:11px;line-height:10px;background:none repeat scroll 0 0 #74aacc;height:0.625rem;width:0.625rem;height:10px;width:10px;border-radius:10px;text-indent:-9999px;margin-right:7px;}
.jcarousel-pagination a.active{background:#fff;color:#8b8b8b;opacity:1;}

@media (max-width: 620px) {
.jcarousel-pagination{bottom:-35px;}
}



/*      dataScroller          */
.accordion dd div.dataScroller table{margin:0;padding:0;}
.accordion dd div.dataScroller table tr{margin:0;padding:0;}
.accordion dd div.dataScroller table tr td{margin:0;padding:0;}
div#contentWrap div.dataScroller a:empty{display:none;}
#contentWrap div.dataScroller a{border-style:solid;border-width:0px;cursor:pointer;font-weight:normal;line-height:normal;margin:0 0 0 6px;position:relative;text-decoration:none;text-align:center;display:inline-block;font-size:13px;padding:3px 8px 4px 8px;color:#333;background-color:#fff;border-color:none;-webkit-transition:background-color 300ms ease-out;-moz-transition:background-color 300ms ease-out;transition:background-color 300ms ease-out;outline:none;font-family:'Roboto',sans-serif;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
#contentWrap div.dataScroller .active a{background-color:#da2a1b;color:#fff;}
#contentWrap div.dataScroller a:hover{background-color:#da2a1b;color:#fff;}
div#contentWrap div.dataScroller a#ReturnPolicySummaryTableForm\:scrollernext, div#contentWrap div.dataScroller a#ReturnPolicySummaryTableForm\:scrollernext:hover{
	background:url('images/arrow_right_blue@2x.png') no-repeat  0 3px / 10px 13px;
	width:10px;height:17px;
	display: block;
}
div#contentWrap div.dataScroller a#ReturnPolicySummaryTableForm\:scrollerprevious, div#contentWrap div.dataScroller a#ReturnPolicySummaryTableForm\:scrollerprevious:hover{
	background:url('images/arrow_left_blue@2x.png') no-repeat 0 5px / 10px 13px;
	width:10px;height:17px;
}

div#contentWrap div.dataScroller a span{
	display: none;
}


div.dataScroller table{margin:0;padding:0;}
div.dataScroller table tr{margin:0;padding:0;}
div.dataScroller table tr td{margin:0;padding:0;}
/*      dataScroller          */


/*
width: 10px;height:13px;
display: block;
background-image:url("/mc/ui/css/images/arrow_right_blue@2x.png");background-position:0 0;background-repeat:no-repeat;background-size:10px 13px;background-color:red;
*/



/*****BREADCRUMBS******/

ul.breadcrumb_track {list-style:none;margin-left:0px!important;}
ul.breadcrumb_track li {display:inline;padding-left:0px!important;}
ul.breadcrumb_track li a {font-size:14px; line-height:19px;color:#107CC0;text-decoration:none;}
ul.breadcrumb_track li::after {
	position:relative;
	top:0px;
	content: "";
	display:inline-block;
	width:11px;
	height:11px;
	border-right:1px solid #333;
	border-top:1px solid #333;
	transform:rotate(45deg);
	margin:0 13px 0 10px;
	border-radius:1pt;
}
/*** For Aribic ***/
.ar ul.breadcrumb_track li::after {
	border-right:none;
	border-top:none;
	border-left: 1px solid #333;
    border-bottom: 1px solid #333;
	margin:0 10px 0 13px;
}

.ar .button.marginright {
		margin-left: 15px !important;
}
@media only screen and (max-width: 40em) { /* Small */
	.ar .button.marginright {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}

.ar div.msgWarning code span,
.ar div.msgError code span, .ar div.msgErr code span,
.ar div.msgSuccess code span,
.ar div.msgInfo code span, .ar div.msgInfo div.alert-box-icon-holder span{
    right: 10px;
}

.ar div.alert-box p, .ar div.alert-box ul, .ar div.alert-box ol, .ar div.message p, .ar div.message ul, .ar div.message ol {
    margin: 0 44px 0 0;
}

/* end */
ul.breadcrumb_track li:last-child::after {border:none;}

/*** Info toggle track landing pages ***/

.ts_toggle_info_m{ margin-bottom:30px;}

.ts_toggle_info_m h3 { cursor:pointer; }
.ts_toggle_info_m h3 span { cursor:pointer; white-space: nowrap; }
/*.fr .ts_toggle_info_m h3{ white-space: normal; }*/

.ts_toggle_info_m h3 span:after{
	position:relative;
	top:0px;
	content: "";
	display:inline-block;
	width:16px;
	height:16px;
	border-right: 1px solid #107cc0;
    border-bottom: 1px solid #107cc0;
	transform:rotate(45deg);
	margin:0 20px 4px 12px;
	border-radius:1pt;
}

.ts_toggle_info_m h3.active span:after{
	border-right:none;
	border-bottom:none;
	border-left: 1px solid #107cc0;
    border-top: 1px solid #107cc0;
	margin: 0 20px -4px 12px;
}

.ts_toggle_info_content_m{ display:none;} 
#track_results .shipping_options_container{display:inline-table; width: 380px;}
#track_results .shipping_summary p strong{ display:inline-block; width: 180px;}
#track_results .shipping_options strong { display:inline-block; width: 177px;}
.fr #track_results .shipping_summary p strong{ display:inline-block; width: 250px;}
.fr #track_results .shipping_options strong { display:inline-block; width: 247px;}
#track_results .shipping_options { display:inline; }

#tapListResultForm\:resDetail_pg_10 p {display: inline-block; width:193px}
.fr #tapListResultForm\:resDetail_pg_10 p {display: inline-block; width:263px}
#tapListResultForm\:resDetail_pg_4 ul {margin-bottom:0; display: table-cell;}
#tapListResultForm\:resDetail_pg_4 .normal { margin-left:-13px;}
@media only screen and (max-width: 40em) { /* Small */
	#tapListResultForm\:resDetail_pg_4 .normal { margin-left: auto; display:block;}
}

#track_results .shipping_options_before:nth-child(2)::before, 
#track_results .shipping_options_before:nth-child(3)::before,
#track_results .shipping_options_before:nth-child(4)::before { content:", ";}

#track_results .shipping_summary .f-dropdown p strong{ display: inline; width: auto;}

@media only screen and (max-width: 40em) { /* Small */
	#track_results .shipping_summary p strong{ display:block; width: auto;}
	#track_results .shipping_options strong { display:block; width: auto;}
	#track_results .shipping_options { display:block; }
	
	#track_results .shipping_options_before:nth-child(2)::before, 
	#track_results .shipping_options_before:nth-child(3)::before,
	#track_results .shipping_options_before:nth-child(4)::before { content:"";}
}

.deliveryOptionDescription_inner {max-height:350px; overflow-y: scroll; margin-top:20px;}

.nowrap { white-space:nowrap; }

#contentWrap #track_results .f-dropdown {
    margin: 10px 0 0 -6px;
}

#track_results .arrow-top::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #fff;
    border-image: none;
    border-style: inset inset solid;
    border-width: 6px;
    content: "";
    display: block;
    height: 0;
    left: 15%;
    margin: 0 0 0 -6px;
    position: absolute;
    top: -12px;
    width: 0;
    z-index: 99;
}

#track_results .arrow-top::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #cfcfcf;
    border-image: none;
    border-style: inset inset solid;
    border-width: 7px;
    content: "";
    display: block;
    height: 0;
    left: 15%;
    margin: 0 0 0 -7px;
    position: absolute;
    top: -14px;
    width: 0;
    z-index: 98;
}

@media only screen and (max-width: 40em) { /* Small */
	#track_results .arrow-top::before {
	left:73%
	}
	
	#track_results .arrow-top::after {
	left:73%
	}
}

#ts_rightColumnLanding{ margin-top:74px}


#track_results .tooltip2 span{
background-color: #fff;
border-color: #CCC;
border-radius:0;
}

@media only screen and (max-width: 40em) { /* Small */
	#track_results .tooltip2 span{
	left: -70px;
	width:inherit;
	}
}